$primary-color: rgb(84,230,175);
$secondary-color: rgb(44,52,75);
$main-bg-color: rgb(18,23,37);
$main-bg-color-mobile: rgba(18,23,37,0.9);
$header-text-color: rgb(255,255,255);
$body-text-color: rgb(194,203,229);

