// font sizes, 

$header1: 2.6rem;
$header2: 3.2rem;
$header3: 2.4rem;
$main-text: 1.5rem;

//main font-face

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

$main-font: 'Chivo', sans-serif;

